a {
    color: rgb(31 41 55);
}

.content {
    min-height: calc(100vh - 257px);
    /* 80px header + 40px footer = 120px  */
}

a:hover {
    text-decoration: none;
    color: rgb(116, 31, 215);
}

h1 {
    font-size: 3rem;
}

h3 {
    margin-bottom: 0;
}

p {
    font-size: large;
}

.customBtn {
    transition-timing-function: ease;
    transition-duration: 250ms;
}

/*table*/
thead th {
    border-bottom: 1px solid #dedede;
}

.searchbox {
    margin: auto 3rem auto;
    width: 40%;
}

.poweredby {
    justify-content: right;
    margin: auto;
    width: 40%;
}

.ais-SearchBox-input {
    width: 150px;
    color: white;
    padding: 0.3rem 1rem;
    margin-right: 1rem;
    border-radius: 30px;
}

@media (max-width: 384px) {
    .ais-SearchBox-input {
        max-width: 100px;
    }
}