a {
    color: rgb(31 41 55);
}

.content {
    min-height: calc(100vh - 257px);
    /* 80px header + 40px footer = 120px  */
}

a:hover {
    text-decoration: none;
    color: rgb(116, 31, 215);
}

h1 {
    font-size: 3rem;
}

p {
    font-size: large;
}

.customBtn {
    transition-timing-function: ease;
    transition-duration: 250ms;
}

/*table*/
thead th {
    border-bottom: 1px solid #dedede;
}
